<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brand-slider">
                    <div>
                        <div class="brand-image">
                            <img src="{{ asset('assets/images/dobavljaci/TRIGANO/trigano.png') }}" class="img-fluid blur-up lazyload"
                                 alt="brand logo">
                        </div>
                    </div>
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/2.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/3.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/4.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/5.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/6.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="brand-image">#}
{#                            <img src="assets/images/brand/4.png" class="img-fluid blur-up lazyload"#}
{#                                 alt="brand logo">#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</section>