<section class="ratio_asos">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h5>Just For You</h5>
                    <h2>VR Collection</h2>
                </div>
                <div class="product-wrapper slide-7 product-style-1">
                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-20%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/1.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $49.00
                                    <span class="font-light ml-1">$52.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Portable charger</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-10%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="shop-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/2.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $52.00
                                    <span class="font-light ml-1">$60.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>VR Box - Buy VR Headset</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-8%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/3.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $52.00
                                    <span class="font-light ml-1">$60.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Headset Game For IOS</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-15%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/4.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $45.00
                                    <span class="font-light ml-1">$80.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Unifree Portable</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-20%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $25.00
                                    <span class="font-light ml-1">$40.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Wireless Bluetooth Sunglasses Headset</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-5%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/6.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $48.00
                                    <span class="font-light ml-1">$62.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Dual EQ Bluetooth 5.0 Portable</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-12%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/7.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $58.00
                                    <span class="font-light ml-1">$84.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Leapmotion VR</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="top-wishlist">
                                    <span class="font-dark-30">-20%</span>
                                    <a href="wishlist.html" class="heart-wishlist wishlist"><i
                                                class="far fa-heart"></i></a>
                                </div>
                                <a href="product-left-sidebar.html" class="text-center">
                                    <img src="assets/images/electronics/product/png/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="product-details text-center">
                                <h3 class="theme-color">
                                    $25.00
                                    <span class="font-light ml-1">$40.00</span>
                                </h3>
                                <a href="product-left-sidebar.html" class="font-default">
                                    <h5>Wireless Bluetooth Sunglasses Headset</h5>
                                </a>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>