<div class="container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">© Sva prava zadržava prikolica.shop, {{ 'now' | date('Y') }}, Powered by <a href="mailto:stefanmaksimovic88@gmail.com">barba</a></p>
            </div>
        </div>
    </footer>
</div>